<h1>Game#index</h1>
<p>Find me in app/views/game/index.html.erb</p>
    
<div class="form-class">
<%= form_with url: create_path, remote: true do |form| %>
    <%= form.text_field :my_input %>
    <%= form.submit "Search" %>
  <% end %>  
</div>

<div id="messages">

</div>