<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "game.css" %>

  <head>
    <title>Page Title</title>
  </head>

  <body>

  <div id="home_page">
    <h1 id="title">Surakarta</h1>
    

    <%# Need to input flash message if player name is not entered%>

    <div id="player_name_form">
      <%= form_with url: "/queue", method: :post do |form|%>
          <%= form.text_field :name, :style => "width: 20vh", :placeholder => "Insert name..." %>
          <br>
          <%= form.submit "Queue for game", :style => "height: 5vh; width: 35vh; height: 8vh; border-radius: 10px; font-size: 22px; border: 1px solid #ccc;"%>
        <% end %>
    </div>

    <div id="btn_to">
      <a href="/game_page" id="btn_to_game">Go to Game Page</a>
    </div>
    <div id="btn_to">
      <a href="/queue_page" id="btn_to_game">Go to Queue Page</a>
    </div>

    <div id="queue_for_game">
      <a href="/users"class="queue_btn"> Test action cable functionality</a>
    </div>

  </div>

  </body>

</html>
