<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag "game.css" %>

  <head>
    <title>Page Title</title>
  </head>

  <body>

  <div id="queue_page">
    <h1 id="queue_msg">Waiting for opponent to queue</h1>
  </div>

  <%# once connected to the game launch new page %>

  </body>

</html>
