/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form-class{
  border: 1px solid red;
  width: 50%;
  height: 100px;
}
*{
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#home_page {
  height: 100vh;
}

#title {
  padding-top: 25vh;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
}

#player_name_form {
  text-align: center;
  vertical-align: middle;
}

input[type=text] {
  width: 30vh;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f2f2f2;
  text-align: center;
}

::placeholder{
  color: black;
}

#queue_for_game {
  text-align: center;
  vertical-align: middle;
}

.queue_btn {
  width: 26vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}

#btn_to {
  text-align: center;
  vertical-align: middle;
}

#btn_to_game {
  width: 26vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  margin-top: 2vh;
  cursor: pointer;
}

#queue_page {
  height: 100vh;
}

#queue_msg {
  padding-top: 40vh;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
}


#move_input {
  position: fixed;
  bottom: 10vh;
  left: 3vh;
  height: 25vh;
  width: 35vh;
  background-color: #f1f1f1;
  border-radius: 20px;
}

#pos_input{
  padding-left: 10px;
}

#row_label{
  display: inline;
  padding-left: 16.5vh;
  font-size: 15px;
}

#col_label {
  display: inline;
  padding-left: 3vh;
  font-size: 15px;
}

#start_pos_lab {
  padding-right: 3.5vh;
  display: inline;
}

#end_pos_lab {
  padding-right: 4.05vh;
  display: inline;
}

#row_input_1 {
  display: inline;
  width: 60px;
}

#col_input_1 {
  display: inline;
  width: 60px;
}

#row_input_2 {
  display: inline;
  width: 60px;
}

#col_input_2 {
  display: inline;
  width: 60px;
}

#move_btn {
  position: fixed;
  bottom: 3vh;
  left: 10vh;
  height: 5vh;
  width: 10vh;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.game_board {
  position: absolute;
  top: 12.1vh;
  left: 54.75vh;
  margin-top: -50px;
  margin-left: -50px;
  width: 700px;
  height: 700px;
  background-image: url('board.png');
  background-size: 700px 700px;
  background-repeat: no-repeat;
  z-index: 1;
}

.grid-container {
  position: absolute;
  top: 22.75vh;
  left: 61.7vh;
  display: inline-grid;
  grid-template-columns: repeat(6, 9.93vh);
  grid-template-rows: repeat(6, 9.88vh);
  padding: 10px;
  z-index: 2;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 2px;
  font-size: 10px;
  text-align: center;
  z-index: 3;
}

#move_btn_2 {
  /* position: fixed;
  bottom: 3vh;
  left: 10vh; */
  height: 5vh;
  width: 10vh;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-left: 12vh;
}

#move_input_form {
  /* position: fixed;
  bottom: 10vh;
  left: 3vh; */
  height: 28vh;
  width: 35vh;
  background-color: #f1f1f1;
  border-radius: 20px;
  /* margin-left: 20vh; */
}

#p1 {
  font-size: x-small;
  color: red;
}